name: Build

on:
  workflow_call:

permissions:
  contents: read

env:
  HOMEBREW_DEVELOPER: 1
  HOMEBREW_NO_AUTO_UPDATE: 1
  HOMEBREW_CHANGE_ARCH_TO_ARM: 1

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: '10.11-cross-${{github.run_id}}-${{github.run_attempt}}'
          - os: '11-arm64'
          - os: 'ubuntu-latest'
            container:
              image: ghcr.io/homebrew/ubuntu22.04:master
              options: --user=linuxbrew
            workdir: /github/home
      fail-fast: false
    runs-on: ${{matrix.os}}
    container: ${{matrix.container}}
    defaults:
      run:
        working-directory: ${{matrix.workdir || github.workspace}}
    steps:
      - name: Set environment variables
        if: runner.os == 'macOS'
        run: |
          echo 'PATH=/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin' >> $GITHUB_ENV

      - name: Set up Homebrew
        uses: Homebrew/actions/setup-homebrew@master

      - run: brew test-bot --only-cleanup-before

      - run: brew test-bot --only-setup

      - run: brew test-bot --only-tap-syntax

      - name: Build Portable Ruby
        run: |
          mkdir -p bottle/
          cd bottle
          brew portable-package --verbose portable-ruby

      - name: Upload Portable Ruby
        uses: actions/upload-artifact@v3
        with:
          name: bottles
          path: ${{matrix.workdir || github.workspace}}/bottle

      - name: Test Portable Ruby
        run: |
          mkdir -p portable-ruby/
          tar --strip-components 2 -C portable-ruby -xf bottle/portable-ruby--*.tar.gz
          export PATH="${PWD}/portable-ruby/bin:${PATH}"
          export HOMEBREW_USE_RUBY_FROM_PATH=1
          rm -rf "$(brew --repo)/Library/Homebrew/vendor/portable-ruby"
          brew config | awk -v s="${PWD}/portable-ruby/bin/ruby" '$0~s{r=1} 1; END{exit(!r)}'

      - name: Post cleanup
        if: always()
        run: |
          brew test-bot --only-cleanup-after
          rm -rvf bottle portable-ruby
