name: CI

on:
  push:
    branches: master
  pull_request:

permissions:
  contents: read

concurrency:
  group: "${{ github.ref }}"
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:
  syntax:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Homebrew
        uses: Homebrew/actions/setup-homebrew@master

      - run: brew test-bot --only-tap-syntax

  build:
    needs: syntax
    if: github.event_name != 'push'
    uses: ./.github/workflows/build.yml

  # This job is used as a required status check, instead of requiring each build matrix element.
  # When using ephemeral runners, the name of those runs change every time so they cannot be set as required.
  conclusion:
    needs: build
    runs-on: ubuntu-latest
    if: github.event_name != 'push' && !cancelled()
    steps:
      - name: Result
        env:
          RESULT: ${{ needs.build.result }}
        run: |
          [[ "${RESULT}" == success ]]
